main {
  background: #EBEBEB;
  padding: 40px 0 64px;

  .container {
    header {
      display: flex;
      margin-bottom: 22px;
      align-items: center;
      
      img {
          width: 50px;
      }

      h2 {
        color: #666;
        font-size: 25px;
        font-weight: 300;
        margin: 0 0 0 8px;
      }

      a {
        margin: 5px 0px 2px 16px;
        color: #3483fa;
        text-decoration: none;

        &:hover {
          color: #1259c3;
        }
      }
    }

  }
}
