<nav id="primary" class="navbar navbar-expand-md navbar-light bg-warning">
  <div class="container">
    <a id="logo" class="navbar-brand p-0" [routerLink]="['/']">
      <img src="assets/img/nav-bar/logo.png" alt="Amazon">
    </a>
    <!-- <a id="location" class="navbar-brand pt-2" [routerLink]="['/']">
      <small class="d-grid">
        <sup class="text-muted">Enviar a</sup>
        Colombia
      </small>
    </a> -->
    <form id="form-search" class="input-group">
      <input type="text" class="form-control" placeholder="Buscar productos, marcas y más…">
      <button class="btn btn-outline-secondary" type="button" id="button-addon2">Button
        <i class="fas fa-user"></i>
      </button>
    </form>

    <a id="new" class="navbar-brand p-0" [routerLink]="['/']">
      <img src="assets/img/nav-bar/nav.webp" alt="Amazon">
    </a>
  </div>
</nav>
<nav id="secondary" class="navbar navbar-expand-lg navbar-light bg-warning">
  <div class="container">
    <a id="location" class="navbar-brand p-0" [routerLink]="['/']">
      <img src="assets/img/nav-bar/location.png" alt="Amazon">
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div id="navbarNav" class="collapse navbar-collapse">
      <ul id="list" class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" [routerLink]="['/']">Categorías</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/']">Ofertas</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/']">Historial</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/']">Supermercado</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/']">Moda</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/']">Vender</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/']">Ayud / PQR</a>
        </li>
      </ul>
      <ul id="profile" class="navbar-nav">
        <li class="nav-item">
          <a [routerLink]="['/']" class="profile nav-link">
            <img src="assets/img/nav-bar/foto.JPG">
            <span>Cesar</span>
          </a>
        </li>
        <li class="nav-item">
          <a [routerLink]="['/my-shoppings']" class="myShoppings nav-link">Mis compras</a>
        </li>
        <li class="nav-item">
          <a [routerLink]="['/shopping-cart']" class="shoppingCart nav-link">
            <img src="assets/img/nav-bar/cart.JPG">
            <small>{{appService.shoppingCart.length}}</small>
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>
