<nav id="primary" class="navbar navbar-expand-md navbar-light bg-warning">
  <div class="container">
    <a id="logo" class="navbar-brand p-0" href="#">
      <img src="assets/img/logo.png" alt="Amazon">
    </a>
    <!-- <a id="location" class="navbar-brand pt-2" href="#">
      <small class="d-grid">
        <sup class="text-muted">Enviar a</sup>
        Colombia
      </small>
    </a> -->
    <form id="form-search" class="input-group">
      <input type="text" class="form-control" placeholder="Buscar productos, marcas y más…">
      <button class="btn btn-outline-secondary" type="button" id="button-addon2">Button
        <i class="fas fa-user"></i>
      </button>
    </form>

    <a id="new" class="navbar-brand p-0" href="#">
      <img src="assets/img/nav.webp" alt="Amazon">
    </a>
  </div>
</nav>
<nav id="secondary" class="navbar navbar-expand-lg navbar-light bg-warning">
  <div class="container">
    <a id="location" class="navbar-brand p-0" href="#">
      <img src="assets/img/location.png" alt="Amazon">
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Categorías</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Ofertas</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Historial</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Supermercado</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Moda</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Vender</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Ayud / PQR</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
