<!-- contenedor  -->
<div class="sale-history">
    <!-- menu lateral  -->
    <!-- pienso que debe de estar en shared -->
    <div>

    </div>

    <!-- contenedor de las compras -->
    <div class="content-sell">
        <!-- titulo (compras, ventas) y cantidad -->
        <div class="header-sell">
            <h2>Compras</h2>
            <span>5 compras</span>
        </div>

        <!-- contenedor de compras -->
        <ul class="content-list-item">
            <li>
                <div class="card">
                    <div> <h1>14 de mayo</h1></div>
                    
                    <div class="container-info-item">

                        <img src="https://http2.mlstatic.com/D_724288-MCO44218604515_122020-I.jpg" alt="imagen de cytus alpha">
                        
                        <!-- estado, tiempo de llegada, descripcion, cantidad -->
                        <div class="info-item">
                            <p>Entregado</p>
                            <span>Llego el 1 de junio</span>
                            <p>Videojuego Cytus Alpha Bono Musica, Nintendo</p>
                            <p>1 unidad</p>
                        </div>

                        <!-- informacion del vendedor, ver mensajes -->
                        <div class="info-seller">
                            <span>SIMARO COLOMBIA S.A.S</span>
                            <span>Ver mensajes</span>
                        </div>

                        <div class="option-sell">
                            <button>Ver compra</button>
                            <button> Volver a comprar</button>
                        </div>

                    </div>
                </div>
            </li>

            <li>
                <div>

                </div>
            </li>

            <li>
                <div>

                </div>
            </li>

            <li>
                <div>

                </div>
            </li>

            <li>
                <div>

                </div>
            </li>

        </ul>
    </div>

    <!-- mas informacion -->
    <div>

    </div>

    <!-- footer con informacion -->
    <footer>
        <!-- nadvar de redirecciones,copyright, direccion e informacion de empresa -->
        <div>
            <div>
                <a href="">Trabaja con nosotos</a>
                <a href="">Terminos y condiciones</a>
                <a href="">Como cuidamos tu privacidad</a>
                <a href="">Ayuda/PQR</a>
                <a href="">www.sic.gov.co</a>
            </div>
            <p></p>
            <p></p>
        </div>

    </footer>   
</div>