<!-- contenedor  -->
<div class="sale-history">
  <!-- menu lateral  -->
  <!-- pienso que debe de estar en shared -->
  <div>

  </div>

  <!-- contenedor de las compras -->
  <div class="content-sell">
    <!-- titulo (compras, ventas) y cantidad -->
    <div class="header-sell">
      <h2>Productos</h2>
      <span>5 Productos</span>
    </div>

    <!-- contenedor de compras -->
    <ul class="content-list-item">

      <li>
        <!-- card de la info de la compra -->
        <div class="card shadow p-2 bg-white rounded">

          <div class="time-purchase"> <span>14 de mayo</span> </div>

          <!-- info de la compra -->
          <div class="container-info-item">

            <img src="https://http2.mlstatic.com/D_724288-MCO44218604515_122020-I.jpg" alt="imagen de cytus alpha"
              style="flex-basis: 14%;">

            <!-- estado, tiempo de llegada, descripcion, cantidad -->
            <div class="info-item" style="flex-basis: 34%;">
              <p class="success">Entregado</p>
              <h4>Llego el 1 de junio</h4>
              <span class="text-grey">Videojuego Cytus Alpha Bono Musica, Nintendo</span>
              <span class="text-grey">1 unidad</span>
            </div>

            <!-- informacion del vendedor, ver mensajes -->
            <div class="info-item" style="flex-basis: 20%;">
              <p class="text-grey">SIMARO COLOMBIA S.A.S</p>
              <a href="#">Ver mensajes</a>
            </div>

            <!-- contenedor de botones -->
            <div class="info-item" style="flex-basis: 18%;">
              <button class="sell-item">Ver compra</button>
              <button class="repurchase"> Volver a comprar</button>
            </div>

          </div>
        </div>
      </li>

      <li>
        <!-- card de la info de la compra -->
        <div class="card shadow p-2 bg-white rounded">

          <div class="time-purchase"> <span>14 de mayo</span> </div>

          <!-- info de la compra -->
          <div class="container-info-item">

            <img src="https://http2.mlstatic.com/D_724288-MCO44218604515_122020-I.jpg" alt="imagen de cytus alpha"
              style="flex-basis: 14%;">

            <!-- estado, tiempo de llegada, descripcion, cantidad -->
            <div class="info-item" style="flex-basis: 34%;">
              <p class="success">Entregado</p>
              <h4>Llego el 1 de junio</h4>
              <span class="text-grey">Videojuego Cytus Alpha Bono Musica, Nintendo</span>
              <span class="text-grey">1 unidad</span>
            </div>

            <!-- informacion del vendedor, ver mensajes -->
            <div class="info-item" style="flex-basis: 20%;">
              <p class="text-grey">SIMARO COLOMBIA S.A.S</p>
              <a href="#">Ver mensajes</a>
            </div>

            <!-- contenedor de botones -->
            <div class="info-item" style="flex-basis: 18%;">
              <button class="sell-item">Ver compra</button>
              <button class="repurchase"> Volver a comprar</button>
            </div>

          </div>
        </div>
      </li>

      <li>
        <!-- card de la info de la compra -->
        <div class="card shadow p-2 bg-white rounded">

          <div class="time-purchase"> <span>14 de mayo</span> </div>

          <!-- info de la compra -->
          <div class="container-info-item">

            <img src="https://http2.mlstatic.com/D_724288-MCO44218604515_122020-I.jpg" alt="imagen de cytus alpha"
              style="flex-basis: 14%;">

            <!-- estado, tiempo de llegada, descripcion, cantidad -->
            <div class="info-item" style="flex-basis: 34%;">
              <p class="success">Entregado</p>
              <h4>Llego el 1 de junio</h4>
              <span class="text-grey">Videojuego Cytus Alpha Bono Musica, Nintendo</span>
              <span class="text-grey">1 unidad</span>
            </div>

            <!-- informacion del vendedor, ver mensajes -->
            <div class="info-item" style="flex-basis: 20%;">
              <p class="text-grey">SIMARO COLOMBIA S.A.S</p>
              <a href="#">Ver mensajes</a>
            </div>

            <!-- contenedor de botones -->
            <div class="info-item" style="flex-basis: 18%;">
              <button class="sell-item">Ver compra</button>
              <button class="repurchase"> Volver a comprar</button>
            </div>

          </div>
        </div>
      </li>

      <li>
        <!-- card de la info de la compra -->
        <div class="card shadow p-2 bg-white rounded">

          <div class="time-purchase"> <span>14 de mayo</span> </div>

          <!-- info de la compra -->
          <div class="container-info-item">

            <img src="https://http2.mlstatic.com/D_724288-MCO44218604515_122020-I.jpg" alt="imagen de cytus alpha"
              style="flex-basis: 14%;">

            <!-- estado, tiempo de llegada, descripcion, cantidad -->
            <div class="info-item" style="flex-basis: 34%;">
              <p class="success">Entregado</p>
              <h4>Llego el 1 de junio</h4>
              <span class="text-grey">Videojuego Cytus Alpha Bono Musica, Nintendo</span>
              <span class="text-grey">1 unidad</span>
            </div>

            <!-- informacion del vendedor, ver mensajes -->
            <div class="info-item" style="flex-basis: 20%;">
              <p class="text-grey">SIMARO COLOMBIA S.A.S</p>
              <a href="#">Ver mensajes</a>
            </div>

            <!-- contenedor de botones -->
            <div class="info-item" style="flex-basis: 18%;">
              <button class="sell-item">Ver compra</button>
              <button class="repurchase"> Volver a comprar</button>
            </div>

          </div>
        </div>
      </li>

      <li>
        <!-- card de la info de la compra -->
        <div class="card shadow p-2 bg-white rounded">

          <div class="time-purchase"> <span>14 de mayo</span> </div>

          <!-- info de la compra -->
          <div class="container-info-item">

            <img src="https://http2.mlstatic.com/D_724288-MCO44218604515_122020-I.jpg" alt="imagen de cytus alpha"
              style="flex-basis: 14%;">

            <!-- estado, tiempo de llegada, descripcion, cantidad -->
            <div class="info-item" style="flex-basis: 34%;">
              <p class="success">Entregado</p>
              <h4>Llego el 1 de junio</h4>
              <span class="text-grey">Videojuego Cytus Alpha Bono Musica, Nintendo</span>
              <span class="text-grey">1 unidad</span>
            </div>

            <!-- informacion del vendedor, ver mensajes -->
            <div class="info-item" style="flex-basis: 20%;">
              <p class="text-grey">SIMARO COLOMBIA S.A.S</p>
              <a href="#">Ver mensajes</a>
            </div>

            <!-- contenedor de botones -->
            <div class="info-item" style="flex-basis: 18%;">
              <button class="sell-item">Ver compra</button>
              <button class="repurchase"> Volver a comprar</button>
            </div>

          </div>
        </div>
      </li>

    </ul>
  </div>
</div>
