<!-- contenedor  -->
<app-nav-bar></app-nav-bar>

<div class="sale-history">
    <!-- menu lateral  -->
    <!-- pienso que debe de estar en shared -->
    <div>

    </div>

    <!-- contenedor de las compras -->
    <div class="content-sell">
        <!-- titulo (compras, ventas) y cantidad -->
        <div class="header-sell">
            <h2>Productos</h2>
            <span>5 Productos</span>
        </div>

        <!-- contenedor de compras -->
        <ul class="content-list-item">

            <li>
                <!-- card de la info de la compra -->
                <div class="card shadow p-2 bg-white rounded">

                    <div class="time-purchase"> <span>14 de mayo</span> </div>
                    
                    <!-- info de la compra -->
                    <div class="container-info-item">

                        <img src="https://http2.mlstatic.com/D_724288-MCO44218604515_122020-I.jpg"
                         alt="imagen de cytus alpha" style="flex-basis: 14%;">
                        
                        <!-- estado, tiempo de llegada, descripcion, cantidad -->
                        <div class="info-item" style="flex-basis: 34%;">
                            <p class="success">Entregado</p>
                            <h4>Llego el 1 de junio</h4>
                            <span class="text-grey">Videojuego Cytus Alpha Bono Musica, Nintendo</span>
                            <span class="text-grey">1 unidad</span>
                        </div>

                        <!-- informacion del vendedor, ver mensajes -->
                        <div class="info-item" style="flex-basis: 20%;">
                            <p class="text-grey">SIMARO COLOMBIA S.A.S</p>
                            <a href="#">Ver mensajes</a>
                        </div>

                        <!-- contenedor de botones -->
                        <div class="info-item" style="flex-basis: 18%;">
                            <button class="sell-item">Ver compra</button>
                            <button class="repurchase"> Volver a comprar</button>
                        </div>

                    </div>
                </div>
            </li>

            <li>
                <!-- card de la info de la compra -->
                <div class="card shadow p-2 bg-white rounded">

                    <div class="time-purchase"> <span>14 de mayo</span> </div>
                    
                    <!-- info de la compra -->
                    <div class="container-info-item">

                        <img src="https://http2.mlstatic.com/D_724288-MCO44218604515_122020-I.jpg"
                         alt="imagen de cytus alpha" style="flex-basis: 14%;">
                        
                        <!-- estado, tiempo de llegada, descripcion, cantidad -->
                        <div class="info-item" style="flex-basis: 34%;">
                            <p class="success">Entregado</p>
                            <h4>Llego el 1 de junio</h4>
                            <span class="text-grey">Videojuego Cytus Alpha Bono Musica, Nintendo</span>
                            <span class="text-grey">1 unidad</span>
                        </div>

                        <!-- informacion del vendedor, ver mensajes -->
                        <div class="info-item" style="flex-basis: 20%;">
                            <p class="text-grey">SIMARO COLOMBIA S.A.S</p>
                            <a href="#">Ver mensajes</a>
                        </div>

                        <!-- contenedor de botones -->
                        <div class="info-item" style="flex-basis: 18%;">
                            <button class="sell-item">Ver compra</button>
                            <button class="repurchase"> Volver a comprar</button>
                        </div>

                    </div>
                </div>
            </li>

            <li>
                <!-- card de la info de la compra -->
                <div class="card shadow p-2 bg-white rounded">

                    <div class="time-purchase"> <span>14 de mayo</span> </div>
                    
                    <!-- info de la compra -->
                    <div class="container-info-item">

                        <img src="https://http2.mlstatic.com/D_724288-MCO44218604515_122020-I.jpg"
                         alt="imagen de cytus alpha" style="flex-basis: 14%;">
                        
                        <!-- estado, tiempo de llegada, descripcion, cantidad -->
                        <div class="info-item" style="flex-basis: 34%;">
                            <p class="success">Entregado</p>
                            <h4>Llego el 1 de junio</h4>
                            <span class="text-grey">Videojuego Cytus Alpha Bono Musica, Nintendo</span>
                            <span class="text-grey">1 unidad</span>
                        </div>

                        <!-- informacion del vendedor, ver mensajes -->
                        <div class="info-item" style="flex-basis: 20%;">
                            <p class="text-grey">SIMARO COLOMBIA S.A.S</p>
                            <a href="#">Ver mensajes</a>
                        </div>

                        <!-- contenedor de botones -->
                        <div class="info-item" style="flex-basis: 18%;">
                            <button class="sell-item">Ver compra</button>
                            <button class="repurchase"> Volver a comprar</button>
                        </div>

                    </div>
                </div>
            </li>
            
            <li>
                <!-- card de la info de la compra -->
                <div class="card shadow p-2 bg-white rounded">

                    <div class="time-purchase"> <span>14 de mayo</span> </div>
                    
                    <!-- info de la compra -->
                    <div class="container-info-item">

                        <img src="https://http2.mlstatic.com/D_724288-MCO44218604515_122020-I.jpg"
                         alt="imagen de cytus alpha" style="flex-basis: 14%;">
                        
                        <!-- estado, tiempo de llegada, descripcion, cantidad -->
                        <div class="info-item" style="flex-basis: 34%;">
                            <p class="success">Entregado</p>
                            <h4>Llego el 1 de junio</h4>
                            <span class="text-grey">Videojuego Cytus Alpha Bono Musica, Nintendo</span>
                            <span class="text-grey">1 unidad</span>
                        </div>

                        <!-- informacion del vendedor, ver mensajes -->
                        <div class="info-item" style="flex-basis: 20%;">
                            <p class="text-grey">SIMARO COLOMBIA S.A.S</p>
                            <a href="#">Ver mensajes</a>
                        </div>

                        <!-- contenedor de botones -->
                        <div class="info-item" style="flex-basis: 18%;">
                            <button class="sell-item">Ver compra</button>
                            <button class="repurchase"> Volver a comprar</button>
                        </div>

                    </div>
                </div>
            </li>

            <li>
                <!-- card de la info de la compra -->
                <div class="card shadow p-2 bg-white rounded">

                    <div class="time-purchase"> <span>14 de mayo</span> </div>
                    
                    <!-- info de la compra -->
                    <div class="container-info-item">

                        <img src="https://http2.mlstatic.com/D_724288-MCO44218604515_122020-I.jpg"
                         alt="imagen de cytus alpha" style="flex-basis: 14%;">
                        
                        <!-- estado, tiempo de llegada, descripcion, cantidad -->
                        <div class="info-item" style="flex-basis: 34%;">
                            <p class="success">Entregado</p>
                            <h4>Llego el 1 de junio</h4>
                            <span class="text-grey">Videojuego Cytus Alpha Bono Musica, Nintendo</span>
                            <span class="text-grey">1 unidad</span>
                        </div>

                        <!-- informacion del vendedor, ver mensajes -->
                        <div class="info-item" style="flex-basis: 20%;">
                            <p class="text-grey">SIMARO COLOMBIA S.A.S</p>
                            <a href="#">Ver mensajes</a>
                        </div>

                        <!-- contenedor de botones -->
                        <div class="info-item" style="flex-basis: 18%;">
                            <button class="sell-item">Ver compra</button>
                            <button class="repurchase"> Volver a comprar</button>
                        </div>

                    </div>
                </div>
            </li>

        </ul>
    </div>

    <!-- mas informacion -->
    <div style="display: flex; flex-direction: column;" hidden>
        <input type="checkbox"  id="select_label_info" [checked]="display_redirect_info" hidden>
        <!-- vista de mas informacion --> 
        <label for="select_label_info" (click)="display_redirect_info = !display_redirect_info" class="text-grey more_info">Mas informarcion</label>
        
        <!-- informacion en listas -->
       
    </div>

    <!-- mas informacion -->
    <div >
        <!-- boton mas informacion  -->
        <p class="d-flex justify-content-center">
            <a class="btn btn-primary color-more-info" data-bs-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
               mas informacion <i class="bi bi-caret-down-fill"></i>
            </a>
        </p>

        <div class="collapse" id="collapseExample">
            <div class="content_info_redirect" >
                <ul class="content_category_info">
                    <li class="category_info">
                        <!-- nombre de la categoria de la informacion -->
                        <span>Acerca de</span>
    
                        <!-- listado de la informacion -->
                        <ul>
                            <li class="text-grey line_jump">Mercado libre</li>
                            <li class="text-grey line_jump">Investor relations</li>
                            <li class="text-grey line_jump">Tendencias</li>
                            <li class="text-grey">Sustentabilidad</li>
                        </ul>
                    </li>
    
                    <li class="category_info">
                        <!-- nombre de la categoria de la informacion -->
                        <span>Otros sitios</span>
    
                        <!-- listado de la informacion -->
                        <ul>
                            <li class="text-grey line-jump">Developers</li>
                            <li class="text-grey line-jump">Mercado Pago</li>
                            <li class="text-grey line-jump">Mercado Envios</li>
                            <li class="text-grey line-jump">Mercado Shops</li>
                            <li class="text-grey line-jump">Mercado Ads</li>
                            <li class="text-grey">Mercado Libre Ideas</li>
                        </ul>
                    </li>
    
                    <li class="category_info">
                        <!-- nombre de la categoria de la informacion -->
                        <span>Ayuda/PQR</span>
    
                        <!-- listado de la informacion -->
                        <ul>
                            <li class="text-grey line-jump">Comprar</li>
                            <li class="text-grey line-jump">Vender</li>
                            <li class="text-grey line-jump">Resolucion de problemas</li>
                            <li class="text-grey">Centro de seguridad</li>
                        </ul>
                    </li>
    
                    <li class="category_info">
                        <!-- nombre de la categoria de la informacion -->
                        <span>Redes sociales</span>
    
                        <!-- listado de la informacion -->
                        <ul>
                            <li class="text-grey line-jump">Twitter</li>
                            <li class="text-grey line-jump">Facebook</li>
                            <li class="text-grey">Youtube</li>
                        </ul>
                    </li>
    
                    <li class="category_info">
                        <!-- nombre de la categoria de la informacion -->
                        <span>Mi cuenta</span>
    
                        <!-- listado de la informacion -->
                        <ul>
                            <li class="text-grey line-jump">Resumen</li>
                            <li class="text-grey line-jump">Favoritos</li>
                            <li class="text-grey ">Vender</li>
                        </ul>
                    </li>
    
                    <li class="category_info"> 
                        <!-- nombre de la categoria de la informacion -->
                        <span>Mercado Puntos</span>
    
                        <!-- listado de la informacion -->
                        <ul>
                            <li class="text-grey line-jump">Disney+</li>
                            <li class="text-grey line-jump">Star+</li>
                            <li class="text-grey ">HBO MAX</li>
                        </ul>
                    </li>
    
                </ul>
            </div>
        </div>

    </div>

    <!-- footer con informacion -->
    <footer>
        <!-- nadvar de redirecciones,copyright, direccion e informacion de empresa -->
        <div>
            <!-- nadvar de redirecciones -->
            <div>
                <a href="https://careers-meli.mercadolibre.com/en?utm_campaign=site-mco&utm_source=mercadolibre&utm_medium=mercadolibre" target="_blank">Trabaja con nosotos</a>
                <a href="https://www.mercadolibre.com.co/ayuda/terminos-condiciones-de-uso_1841" target="_blank">Terminos y condiciones</a>
                <a href="https://www.mercadolibre.com.co/privacidad" target="_blank">Como cuidamos tu privacidad</a>
                <a href="https://www.mercadolibre.com.co/ayuda" target="_blank">Ayuda/PQR</a>
                <a href="https://www.sic.gov.co" target="_blank">www.sic.gov.co</a>
            </div>

            <!-- copyright y direccion -->
            <p class="text-grey">Copyright © 1999-2021 MercadoLibre Colombia LTDA.</p>
            <p class="text-grey">Carrera 17 Numero 93 - 09 Piso 3, Bogotá D.C, Colombia</p>

        </div>
    </footer>   
</div>