<section id="products">
  <div class="content">
    <div #grids_ class="grids">
      <div #row_ class="row-new">
        <div class="slider">
          <div *ngFor="let product of products;let i = index" (click)="open(product)" [style.max-width.px]="cardWidth"
            [style.min-width.px]="cardWidth" class="card-new">
            <div class="content">
              <div class="picture">
                <img #imgCat [src]="product.imgs[0]"
                  (error)="imgCat.src='https://d3puay5pkxu9s4.cloudfront.net/pages/edutin-isotype-positive.svg'"
                  [alt]="product.name">
              </div>
              <div class="description">
                <div class="detail">
                  <small *ngIf="product.discount>0">$
                    {{product.value | discountPipe:product.discount | moneyPipe}}</small>
                  <span class="value">$ {{product.value | moneyPipe}}</span>
                  <span *ngIf="product.discount>0" class="discount">{{product.discount}}% OFF</span>
                  <p *ngIf="product.freeShipping" class="free-shipping">Envío gratis</p>
                </div>
                <p class="name">{{product.name}}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
