<div class="container-fluid p-0 min-vh-100">
    <!-- nadvar -->
    <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #fff059;">
    
        <div class="container-fluid px-5">
          <a class="navbar-brand" href="#"><img class="sticky-sm-top" src="assets/img/logo.png" alt="Imagen mercado libre"></a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse justify-content-end" id="navbarNavDropdown">
            <ul class="navbar-nav">
           
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  <img src="https://img.icons8.com/external-kiranshastry-lineal-kiranshastry/50/000000/external-user-interface-kiranshastry-lineal-kiranshastry.png"
                  width="25px" height="25px"/>
                  <span>Inglemar</span>
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                  <li><a class="dropdown-item" href="#">Home</a></li>
                  <li><a class="dropdown-item" href="/sale/history">Sale History</a></li>
                  <li><a class="dropdown-item" href="#/">Shopping History</a></li>
                  <li><hr class="dropdown-divider"></li>
                  <li><a class="dropdown-item" href="/user/login">Logout</a></li>
                </ul>
              </li>
    
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="https://www.mercadolibre.com.co/ayuda#nav-header">Ayuda/PQR</a>
              </li>
            </ul>
          </div>
        </div>
    </nav>

    <app-select-option></app-select-option>

</div>